/* Header */

.modxnotes__header {
    padding: 20px 15px 20px;
}

/* Grid */

.modxnote-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px 0 -10px;
    padding: 0 20px 100px 15px;
}

.modxnote-grid--loading {
    opacity: .5;
    pointer-events: none;
}

.modxnote-grid--updating .modxnote--updating {
    opacity: 1;
    color: black;
}

.modxnote-grid--updating .modxnote:not(.modxnote--updating) {
    opacity: .5;
}

.modxnote-grid--updating .modxnote--updating .modxnote__name,
.modxnote-grid--updating .modxnote--updating .modxnote__description {
    color: black;
}

.modxnote-column {
    padding-left: 10px;
    padding-right: 10px;
    flex: 0 25%;
    max-width: 25%;
    box-sizing: border-box;
}

/* Item */

.modxnote {
    font-size: 16px;
    position: relative;
    height: 400px;
    border-radius: 1rem;
    background-color: white;
    transition: all .2s ease;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.75rem;
    box-sizing: border-box;
}

.modxnote--disabled {
    opacity: .5;
    color: rgba(0,0,0,.3);
}

.modxnote--disabled .modxnote__name,
.modxnote--disabled .modxnote__description {
    color: rgba(0,0,0,.3);
    text-decoration: line-through;
}

.modxnote-column--locked .modxnote__name,
.modxnote-column--locked .modxnote__description,
.modxnote--updating .modxnote__name,
.modxnote--updating .modxnote__description {
    pointer-events: auto;
    text-decoration: none;
}

.modxnote:hover {
	box-shadow: 0 30px 20px -30px rgba(0,0,0,.1);
}

.modxnote:hover .modxnote-colors,
.modxnote:hover .modxnote__active,
.modxnote:hover .modxnote__remove {
    opacity: 1;
}

.modxnote__textarea {
    height: 100%;
}

.modxnote__name {
    padding-bottom: 12px;
    font-size: 1.75rem;
    border: none;
    background: none;
    pointer-events: none;
}

.modxnote__name.error::placeholder {
    color: #BE0000;
}

.modxnote__description {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 1.25rem !important;
    font-weight: 500 !important;
    background: none;
    pointer-events: none;
}

.modxnote__description::placeholder {
    color: rgba(0,0,0,.3);
}

/* Add */

.modxnote__add {
    height: 400px;
    border-radius: 1rem;
    border: 3px solid rgba(0,0,0,.1);
    color: rgba(0,0,0,.1);
    margin-bottom: 20px;
    transition: all .2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
}

.modxnote__add:hover {
    border-color: rgba(0,0,0,.3);
    color: rgba(0,0,0,.3);
}

/* Remove */

.modxnote__remove {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    color: rgba(0,0,0,.3);
    opacity: 0;
    transition: opacity .2s ease;
}

.modxnote__remove:hover {
    background-color: #BE0000;
    color: white;
}

/* Toolbar */

.modxnote__toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}

/* Active */

.modxnote__active {
    cursor: pointer;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    opacity: 0;
    color: rgba(0,0,0,.3);
    transition: all .2 ease;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.modxnote__active:hover {
    color: rgba(0,0,0,.5);
}

.modxnote__active::before {
    content: '\F05D';
    font-size: 20px;
}

.modxnote--disabled .modxnote__active::before {
    content: '\F10C';
}

/* Colors */

.modxnote-colors {
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    transition: opacity .2s ease;
}

.modxnote-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
    background-color: white;
}

.modxnote-color--active {
    position: relative;
}

.modxnote-color--active::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
}

.modxnote-colors>.modxnote-color+.modxnote-color {
    margin-left: .5rem;
}
.modnote__info {
    transition: .25s;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 10px;
    color: #999999;
    font-size: .9em;
    opacity: .5;
}
.modnote:hover .modnote__info {
    opacity: 1;
}
.modnote__info a {
    text-decoration: none;
}